@charset "UTF-8";
@font-face {
  font-family: GenJyuuGothicX;
  src: url("../images/GenJyuuGothicX-P-Light.ttf");
}

/* --------------reset----------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: GenJyuuGothicX,微軟正黑體, Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 500px;
  height: auto;
  /* margin-left: auto;
   *margin-right: auto; */
}

.position_center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  * {
    font-size: 12px;
  }
  .container {
    max-width: 300px;
  }
}

@media screen and (max-width: 350px) {
  .container {
    max-width: 250px;
  }
}

/* ------------------tools----------------------- */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

/* ----------------background--------------------- */
.outer-most {
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.om_bg1 {
  background: url("../images/bg1.png"), #FDF0D5;
  background-size: 20%;
}

.om_bg2 {
  background: url("../images/bg2.png"), #FDF0D5;
  background-size: 20%;
}

.om_bg3 {
  background: url("../images/bg3.png"), #FDF0D5;
  background-size: 20%;
}

/* ------------------begin-------------------------- */
.begin {
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 100px;
  background-color: #FDF0D5;
  /* display: none; */
}

.title {
  text-align: center;
}

.title > h2 {
  font-size: 2em;
  color: #615542;
}

.title > p {
  font-size: 1em;
  color: #615542;
}

.test-explain {
  width: 300px;
  height: 200px;
  margin-top: 50px;
}

.test-explain > h2 {
  font-size: 1.5em;
  line-height: 0px;
}

.test-explain > p {
  font-size: 1em;
}

.buttons {
  width: 200px;
  height: 80px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 15px 15px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 15px 15px -10px rgba(0, 0, 0, 0.3);
  /* border: solid 3px #615542; */
  /* transition: all .3s; */
  cursor: pointer;
  margin-top: 30px;
}

.buttons > h2 {
  text-align: center;
  font-size: 1.8em;
  letter-spacing: 3px;
  color: #615542;
  margin-top: 15px;
}

/* #startTest:hover {
 *    box-shadow: 0px 15px 25px -15px rgba(0,0,0,0.8);
 *    margin-top: 20px;
 *} */
@media screen and (max-width: 600px) {
  .begin {
    padding: 20px 20px 50px;
  }
  .test-explain {
    width: 250px;
    height: 150px;
    margin-top: 30px;
  }
  .buttons > h2 {
    margin-top: 12px;
  }
}

@media screen and (max-width: 350px) {
  .test-explain {
    width: 200px;
    height: 200px;
    margin-top: 30px;
  }
}

/* ------------------bg_colors------------------------- */
.bg_Lgreen {
  border: solid 3px #8FCCB2;
  background-color: #8FCCB2;
}

.bg_Lred {
  border: solid 3px #FFCDC1;
  background-color: #FFCDC1;
}

.bg_Lyellow {
  border: solid 3px #FDF0D5;
  background-color: #FDF0D5;
}

.bg_Lorange {
  border: solid 3px #eeb081;
  background-color: #eeb081;
}

.bg_Lblue {
  border: solid 3px #d9eef0;
  background-color: #d9eef0;
}

.bg_Lpurple {
  border: solid 3px #909bdd;
  background-color: #909bdd;
}

/* -------------------testing------------------------- */
.testing {
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 100px;
  background-color: #FDF0D5;
  display: none;
}

.question {
  width: 300px;
  height: auto;
  margin-top: 30px;
}

.question > h2 {
  font-size: 1.3em;
  line-height: 1.5;
  text-align: center;
}

.options {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 15px 15px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 15px 15px -10px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  margin-top: 20px;
}

.options > h2 {
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 3px;
  color: #615542;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  .testing {
    padding: 20px 20px 50px;
  }
  .question {
    width: 250px;
    margin-top: 0px;
  }
  .options {
    margin-top: 10px;
  }
  .options > h2 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 350px) {
  .question {
    width: 200px;
  }
}

/* --------------------result------------------------ */
.result {
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: auto;
  display: none;
}

.result_media {
  text-align: center;
}

/* .result_media>img {
 *    width: 150px;
 *} */
.result > h2 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 10px;
}

.result > span {
  font-weight: bold;
}

.more {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

.more > p {
  margin-top: 10px;
}

.more + p {
  display: none;
}

.buttons > p {
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 3px;
  color: #615542;
  margin-top: 20px;
}

.figure {
  position: absolute;
  top: 110%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .result_media > img {
    height: 150px;
  }
  .result > h2 {
    margin-bottom: 5px;
  }
  .buttons {
    width: 150px;
    height: 60px;
  }
  .buttons > p {
    margin-top: 15px;
  }
  .figure {
    top: 105%;
  }
}

/* --------------result_bg------------------ */
.man1_bg {
  background-color: #ECDCDC;
}

.man2_bg {
  background-color: #D7E3E3;
}

.man3_bg {
  background-color: #DED57E;
}

.man4_bg {
  background-color: #ECB7B1;
}

.man5_bg {
  background-color: #D7E3E3;
}

.woman1_bg {
  background-color: #ECB7B1;
}

.woman2_bg {
  background-color: #B8CAC9;
}

.woman3_bg {
  background-color: #EEECBB;
}

.woman4_bg {
  background-color: #EFE1C7;
}

.woman5_bg {
  background-color: #EEECBB;
}

/* ------------------show_all------------- */
.show_all {
  width: 90%;
  height: 90%;
  position: absolute;
  border: solid 3px pink;
}

.manCharacter, .womanCharacter {
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 300px;
  width: 350px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  cursor: pointer;
  display: none;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.left1 {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.left2 {
  position: absolute;
  top: 50%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.right1 {
  position: absolute;
  top: 50%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.right2 {
  position: absolute;
  top: 50%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.control_button {
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 150px;
  height: auto;
  cursor: pointer;
  display: none;
}

.control_button > h2 {
  font-size: 1.5em;
  text-align: center;
}

.next {
  position: absolute;
  top: 85%;
  left: 65%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.prev {
  position: absolute;
  top: 85%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.return {
  position: absolute;
  top: 10%;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .manCharacter, .womanCharacter {
    width: 200px;
    height: 200px;
  }
  .middle {
    top: 50%;
    left: 50%;
  }
  .left1 {
    top: 35%;
    left: 50%;
  }
  .left2 {
    top: 20%;
    left: 50%;
  }
  .right1 {
    position: absolute;
    top: 65%;
    left: 50%;
  }
  .right2 {
    top: 80%;
    left: 50%;
  }
  .control_button {
    width: 50px;
    height: auto;
    z-index: 2;
  }
  .control_button > h2 {
    font-size: 1em;
  }
  .next {
    top: 50%;
    left: 92%;
  }
  .prev {
    top: 50%;
    left: 8%;
  }
}
/*# sourceMappingURL=all2.css.map */